{% extends "base.html" %}

{% block title %}Feedback Form{% endblock %}

{% block content %}
<h2>Send us a Feedback</h2>


<form method="POST" action ="/feedback">


    <label for="username">Name: </label><br>
    <input type ="text" name ="username" id="username" placeholder ="enter your name"><br><br>

    <label for="message">Message: </label><br>
    <input type="text" name="message" id ="message" placeholder ="enter your message"><br><br>

    <input type="submit" value="Submit Feedback">


</form>

{% endblock %}